.ProseMirror {
  padding: 0 !important;
  .is-empty::before {
    color: #737373; /* Equivalent to text-neutral-500 */
  }

  & > *:first-child,
  [data-type='column'] > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: 0.75em;
  }

  .node-imageUpload {
    border-radius: 0.25rem; /* rounded */
    border: 2px dotted rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    transition: border 160ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
    }

    &:has(.is-active),
    &.has-focus {
      border-color: rgba(0, 0, 0, 0.4);
    }
  }

  [data-type='columns'] {
    &.has-focus [data-type='column'],
    &:hover [data-type='column'] {
      border-color: #d1d5db; /* border-neutral-300 */
    }

    [data-type='column'].has-focus {
      border-color: #9ca3af; /* border-neutral-400 */
    }
  }

  [data-type='column'] {
    border-radius: 0.25rem; /* rounded */
    border: 2px dotted transparent;
    padding: 0.25rem;
    transition: border 160ms cubic-bezier(0.45, 0.05, 0.55, 0.95);

    &:hover {
      border-color: #f3f4f6; /* border-neutral-100 */
    }

    &:has(.is-active),
    &.has-focus {
      border-color: #f3f4f6;
    }
  }

  .node-imageBlock img {
    border: 2px solid transparent;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  .node-imageBlock:hover img {
    border-color: #f3f4f6;
  }

  .node-imageBlock:has(.is-active) img,
  .node-imageBlock.has-focus img {
    border-color: #1f2937; /* border-neutral-800 */
  }

  .node-aiWriter,
  .node-aiImage,
  .node-tableOfContentsNode {
    &.has-focus [data-node-view-wrapper] > * {
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 0.5rem;
      transition: all 0.2s;
    }
  }

  .ProseMirror-gapcursor + .node-imageBlock,
  .ProseMirror-gapcursor + .node-imageUpload,
  .ProseMirror-gapcursor + [data-type='blockquoteFigure'] {
    outline-color: #374151;
    &:hover {
      outline-color: #4b5563;
    }
  }

  [data-type='blockquoteFigure'] > div {
    border-left: 4px solid #374151; /* border-l-neutral-700 */
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  [data-type='blockquoteFigure'] > blockquote {
    font-size: 1.125rem;
    color: #000;
  }

  [data-type='blockquoteFigure'] figcaption {
    font-size: 0.875rem;
    color: #737373; /* text-neutral-500 */
    margin-top: 1rem;
    transition: all 0.2s;
    overflow: hidden;
  }
}
